<!doctype html>

<title>Rhyme Deconstructed</title>
   <h1>Hi! Welcome to my webapp.</h1>
   <p>This site will deconstruct any song's rhyme scheme, giving it an overall score and
     highlighting the words that rhyme together.
   </p>

   <form action="/return" method="post" style='text-align:center'>
     <fieldset>
       <legend>Enter Song URL from MetroLyrics(Slow):</legend>
       URL:<br>
       <input type="text" name="url"><br>
       <input type="submit" value="Submit">
     </fieldset>
   </form>

   <form action="/returnFast" method="post" style='text-align:center'>
     <fieldset>
       <legend>Enter Song URL from MetroLyrics(Fast):</legend>
       URL:<br>
       <input type="text" name="url"><br>
       <input type="submit" value="Submit">
     </fieldset>
   </form>
