<!doctype html>

<title>Hello from Nick</title>
   <h1>Hello !</h1>

   <form action="/return" method="post" style='text-align:center'>
     <fieldset>
       <legend>Personal information:</legend>
       URL:<br>
       <input type="text" name="url"><br>
       <input type="submit" value="Submit">
     </fieldset>
   </form>

   <form action="/returnFast" method="post" style='text-align:center'>
     <fieldset>
       <legend>Personal information:</legend>
       URL:<br>
       <input type="text" name="url"><br>
       <input type="submit" value="Submit">
     </fieldset>
   </form>
