<!doctype html>
<head>
<style>
body {
    background-color: black;
    color: white
}

h1 {
    color: white;
    text-align: center;
}

p {
    color: white;
    font-family: verdana;
    font-size: 20px;
}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script>
$(document).ready(function(){

    $.post("/getAllWords",
    {
        url: '{{url}}'
    },
    function(data){
        $("body").append(data);
    });
    $.post("/setVisited",
    {
        url: '{{url}}'
    },
    function(data){
    });
});

</script>
</head>

<title>Hello from Nick</title>
{% if not error %}
<body style='text-align:center'>
  <pre>
    <h1 id=textbody>{{rr}}</h1>
  </pre>

  <p>
  </p>
</body>

{% else %}
     <h1>{{error}}</h1>
{% endif %}
